html{
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: lightsteelblue;
}

.yurizinho{
    width: 100vw;
    height: 10vw;
} 

.yurizinho:active{
    transform: scaleX(4);
} 

.marquee-container{
    background-color: hsl(0deg 0% 96.86%);;
}

.text{
    /* padding-left: 150px; */
    display: flex;
    align-items: center;
    flex-direction: column;
}

h3{
    color: blueviolet;
}

table, th, td{
    border: 1px solid;
}

.dog{
    width: 20em;
    height: 20em;
    box-shadow: 5px 5px gray;
}

.dog:hover{
    rotate: 2160deg;
    transition: 3s;
}

.dogspiner{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 70px;
}
