*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.quadrado{
    width: 500px;
    height: 100px;
    background-color: rgba(143, 21, 41, 0.795);
    display: flex;
    /* margin: 50px 10px 100px 20px;  */
    /* padding: 100px 100px; */
    /* position: fixed;
    top: 0px; */
    
}

/* Alinhamento:
static
relative
absolute
sticky
fixed */

.quadradinho{
    background-color: cadetblue;
    height: 80px;
    width: 80px;
    position: relative;
    top: 10%;
    margin-left: 5px;
}
.textao {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
}
.texto{
    /* padding: 50px 100px; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
}

/* .conteudo{
    height: 3000px;
} */

.flex{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.pai{
    height: 100vh;
}
/* Display:
block
inline */